# CSIE 5452, Fall 2019 — Homework 2

In [1]:
import sys
import math
import copy
import time
import random
import numpy as np
from pandas.core.frame import DataFrame

In [2]:
def preprocess_data(file_dir):
    
    with open(file_dir, 'r') as f:
        dat = [line.rstrip('\n') for line in f]
    msg_num = int(dat[0])
    one_bit_trans = float(dat[1])
              
    temp = []
    for i in range (len(dat) - 2):
        temp.append(dat[i+2])
    
    data = []
    i = 0
    for d in temp:
        data.append(d.split(' '))
        if '' in data[i]:
            data[i].remove('')
        for j, item  in  enumerate(data[i]):
            try:
                data[i][j] = int(data[i][j])
            except ValueError:
                data[i][j] = float(data[i][j])
        i+=1
    
    return msg_num, one_bit_trans, data

In [3]:
def RHS(i, Qi, Bi, tao, data):
    
    temp = 0
    for n in range (i):
        temp += math.ceil(((Qi + tao)/data[n][2]))*data[n][1]
    rhs = Bi + temp
    
    return rhs

In [4]:
def calQi(i, q, Bi, Ci, Ti, tao, data):
    
    rhs = RHS(i, q, Bi, tao, data)
    if rhs + Ci >Ti:
        return 'nan'
    elif rhs == q:
        return q
    else:
        return calQi(i, rhs, Bi, Ci, Ti, tao, data)

In [5]:
def calBi(i, data):
    
    blocking_time = data[i][1]
    for j in range(len(data) - (i+1)):
        if data[i+j][1] > blocking_time:
            blocking_time = data[i+j][1]
    
    return blocking_time

In [6]:
def calRi(i, Bi, tao, data):
    
    if i == 0:
        Q = Bi
        R = Q + data[i][1]
        return R
    else:
        Q = calQi(i, Bi, Bi, data[i][1], data[i][2], tao, data)
        if Q == 'nan':
            return 'nan'
        else:
            R = Q + data[i][1]        
            return R

In [7]:
def Ri_List(data_list):
    Ri_list = []
    for i, item in enumerate(data_list):
        Bi = calBi(i, data_list)
        Ri = calRi(i, Bi, TAO, data_list)
        if Ri == 'nan':
            #print('The system is not schedulable')
            return 'nan'
            break
        
        else:
            Ri_list.append(Ri)
            #print ('Message μ'+ str(i) + ' worst-case response time: ' + str(Ri))
    return Ri_list

In [8]:
FILE_DIR = 'Input.dat'
MSG_NUM, TAO, DATA = preprocess_data(FILE_DIR)

In [9]:
Ri_LIST = Ri_List(DATA)
Ri_LIST

[1.44,
 2.04,
 2.56,
 3.16,
 3.68,
 4.28,
 5.2,
 8.4,
 9.0,
 9.68,
 10.2,
 19.360000000000003,
 19.8,
 20.32,
 29.400000000000002,
 29.76,
 30.28]

In [10]:
def cost_func(list):
    SUM = sum(list)
    return SUM

In [11]:
def pick_ram(L):
    l = list(range(0,len(L)))
    print(l)
    random.shuffle(l)
    print(l)
    r1 = l[0]
    r2 = l[1]
    #r3 = l[2]
    return r1, r2

In [12]:
def reverse(list, r1, r2):
    temp = list[min(r1, r2):max(r1, r2)]
    temp.reverse()
    list[min(r1, r2):max(r1, r2)] = temp
    return list

In [13]:
def new(L):
    l = list(range(0,len(L)))
    #print(l)
    random.shuffle(l)
    #print(l)
    r1 = l[0]
    r2 = l[1]
    #print(r1, r2)
    new_data = reverse(L, r1, r2)
    return new_data

In [14]:
init_T = 1000  # 初始溫度
min_T = 1  # 溫度下限
iterL = 10  # 每個T值的迭代次數
delta = 0.95  # 溫度衰減係數
k = 1

init_S = cost_func(Ri_LIST)
print (init_S)
curr_T = init_T
curr_Data = copy.deepcopy(DATA)

208.56

In [15]:
ALL_LIST = []
ALL_LIST.append(curr_Data)
dup_Data = copy.deepcopy(curr_Data)
tStart = time.time()
time.sleep(2)
while curr_T > min_T:
    for i in range (iterL):
        #print(dup_Data)
        new_data_list = new(dup_Data)
        #print(new_data_list)
        new_Ri_LIST = Ri_List(new_data_list)
        if new_Ri_LIST == 'nan':
            dup_Data = copy.deepcopy(ALL_LIST[len(ALL_LIST)-1])
            #print('Failed')
            break
        else:
            new_S = cost_func(new_Ri_LIST)
            res = new_S - init_S
            if res < 0:
                init_S = new_S
            else:
                p = np.exp(-res / (k * curr_T))
                if np.random.rand() < p:
                    init_S = new_S
            ALL_LIST.append(new_data_list)
            dup_data = copy.deepcopy(new_data_list) 
            #print('Successed')
        #print(i)
        if len(ALL_LIST)%10 == 0:
            curr_T = curr_T * delta
            break
        #print(curr_T)
tEnd = time.time()
print (init_S)
print ('It cost %f sec' %(tEnd - tStart))

205.32
It cost 16.675876 sec

In [16]:
dataframe = DataFrame(new_data_list)
dataframe.rename(columns={0:'Orginal Priority',1:'Trans. Time',2:'Period'},inplace=True)
dataframe

    Orginal Priority  Trans. Time  Period
0                  4         0.52       5
1                 15         0.52    1000
2                  5         0.60       5
3                  1         0.60       5
4                  2         0.52       5
5                  3         0.60       5
6                  9         0.68      10
7                  8         0.60      10
8                  7         0.52      10
9                  6         0.92      10
10                 0         0.52      50
11                12         0.52     100
12                14         0.68    1000
13                11         0.76     100
14                13         0.52     100
15                10         0.52      50
16                16         0.52    1000

In [17]:
new_Ri_LIST

[1.44,
 1.96,
 2.56,
 3.16,
 3.68,
 4.28,
 4.96,
 5.56,
 8.92,
 9.84,
 10.2,
 19.12,
 19.8,
 20.560000000000002,
 29.240000000000002,
 29.76,
 30.28]

In [18]:
dataframe = DataFrame(DATA)
dataframe.rename(columns={0:'Orginal Priority',1:'Trans. Time',2:'Period'},inplace=True)
dataframe

    Orginal Priority  Trans. Time  Period
0                  0         0.52      50
1                  1         0.60       5
2                  2         0.52       5
3                  3         0.60       5
4                  4         0.52       5
5                  5         0.60       5
6                  6         0.92      10
7                  7         0.52      10
8                  8         0.60      10
9                  9         0.68      10
10                10         0.52      50
11                11         0.76     100
12                12         0.52     100
13                13         0.52     100
14                14         0.68    1000
15                15         0.52    1000
16                16         0.52    1000